style

    h1{
        color:aqua
    }

img {
    width: 400px;
}

#thirDiv {
    height: 500px;
    width: 600px;
    background-color: blanchedalmond;
    padding: 50px;
    border: 10px solid rosybrown;
    margin: 50px;
}

#spanId {
    font-size: 18px;
    margin: 50px;

}